<p>Choose a monster</p>
<form method="get" action="Fight">
    <input type="radio" name="monster" value="Lamp">Lamp<br>
    <input type="radio" name="monster" value="Lochness">Lochness<br>
    <input type="radio" name="monster" value="Cyclops">Cyclops<br>
</form>
<input type="submit" value="Submit"><br>