<h1>Welcome to the Mini RPG Game!</h1>
<h2>Please choose the combatants</h2>
<p>Choose a player</p>
<form method="get" action="Fight">
    <input type="radio" name="player" value="Pikachu">Pikachu<br>
    <input type="radio" name="player" value="Brock">Brock<br>
    <input type="radio" name="player" value="Foeksia">Foeksia<br>
    <input type="radio" name="player" value="Mimikyu">Mimikyu<br>
</form>
